// Look-up container

body.labeler-interface {
  background-color: #eee;

  tr.sub-grid-row,
  td.sub-grid,
  [ng-if="config.subGrid"],
  [ng-if="!config.hideTopPager"],
  .sidebar {
    display: none !important;
    pointer-events: none;
  }

  .input-group {
    display: flex;
  }

  .modal {

    h5.header.blue.header-temp-files-list {
      margin-top: 0;
    }

    .btn,
    select,
    input[type=text],
    input[type=number],
    input[type=date] {
      border-radius: 4px !important;
    }
  }

  .main-content {

    * {
      border-radius: 4px !important;
    }

    table.table.table-bordered * {
      border-radius: unset !important;
    }

    .btn-ctrl:has(.fa-print) button.btn.btn-sm:has(.fa-print),
    span.resizer,
    .extd-grid-control select {
      pointer-events: none;
      opacity: 0.3;
    }

    // Purchase page
    .breadcrumbs,
    .no-border,
    .form-group:has(.fa-star),
    .table-responsive thead tr> :nth-child(4),
    .table-responsive thead tr> :nth-child(6),
    .table-responsive thead tr> :nth-child(7),
    .table-responsive tbody tr> :nth-child(4),
    .table-responsive tbody tr> :nth-child(6),
    .table-responsive tbody tr> :nth-child(7),
    .uib-typeahead-match .tt-suggestion> :nth-child(2),
    .uib-typeahead-match .tt-suggestion> :nth-child(3),
    .uib-typeahead-match .tt-suggestion> :nth-child(4),
    .uib-typeahead-match .tt-suggestion> :nth-child(5),
    .form-horizontal:nth-child(3)> :nth-child(2)> :nth-child(2),
    .form-horizontal:nth-child(3)> :nth-child(2)> :nth-child(3),
    .form-horizontal:nth-child(3)> :nth-child(5),
    .form-horizontal:nth-child(1)> :nth-child(2)> :nth-child(1)> :nth-child(2)> :nth-child(2),
    .form-horizontal:nth-child(1)> :nth-child(2)> :nth-child(3)> :nth-child(2)> :nth-child(2),
    .extd-grid-control .extd-grid-buttons.buttons-right,
    .extd-grid-title,
    td[ng-if="config.subGrid"] {
      display: none !important;
      pointer-events: none;
    }

    td[extd-touch-resize],
    a {
      -webkit-user-drag: none;
      user-drag: none;
    }

    .input-group-addon,
    .input-group-btn {
      display: table-column;
    }

    .sticky {
      background: transparent;

      .btn-ctrl>div {
        border: unset;
        padding: unset;
      }
    }

    input[ng-model="filter.page"] {
      width: 30px;
    }

    .pagination-wrap button.btn.btn-sm.btn-transparent {
      background: white !important;
    }
  }

  &.dark,
  &.dark .navbar {
    background-color: #000;
  }

  .navbar {
    background-color: var(--theme-blue--dark-bg);

    .navbar-header {
      .navbar-brand {
        padding-left: 1em;
        filter: brightness(0) invert(1);
      }

      .navbar-toggle {
        display: none;
      }
    }

    a.navbar-shortcut {
      color: #eee;

      i {
        font-size: 1.2em;
        margin: 0 2px;
        text-align: center;
      }
    }

    li:has(.navbar-shortcut):hover {
      background: #0000005c;
    }

    .navbar-nav {
      &>*:not(:last-child) {
        display: none;
      }

      &>*:nth-last-child(2),
      &>*:nth-last-child(4),
      &>*:nth-last-child(5),
      &>*:nth-last-child(7) {
        display: block;
      }
    }

    .navbar-toggle.toggle-sidebar,
    .navbar-collapse a.navbar-brand,
    .caret {
      display: none;
    }


    .navbar-collapse-2 {

      img,
      .divider {
        display: none;
      }

      .nav-user-shortcut {
        height: 100%;
      }
    }

    .navbar-nav li.nav-user-dropdown {

      img,
      .divider {
        display: none;
      }

      a .nav-user-company {
        font-size: unset !important;
        line-height: unset !important;
      }

      // Could add `>` to make sure it is only the nav part, not the items in the dropdown, but a touch screen user might have trouble
      a {
        padding: 15px 10px;
      }
    }

    .nav-user-dropdown__title {
      // The business name doesn't fit in the header
      color: #d9d9d9;
      padding-right: 10px;
      font-size: 15px;
      max-width: unset;

      & *:first-child {
        // The user name
        display: none;
      }
    }
  }
}

.look-up-container {

  *:not(.header):not(svg) {
    border-radius: 4px;
  }

  .load-data {
    padding: 10px;
  }

  @media screen and (max-width: 992px) {
    .load-data {
      padding: 10px 0 !important;
    }
  }

  .load-overlay {
    background-color: #eeeeeebf;
  }

  .form-section {
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fcfcfc;
  }

  .item-list {
    max-height: calc(100vh - 70px);
    overflow: auto;

    .item {
      transition: 0.5s;
      animation: highlight 0.5s ease-out;
      background-color: white;
      display: grid;
      grid-template-columns: auto min-content min-content;
      column-gap: 5px;
      font-size: 1.1em;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 4px;
      cursor: pointer;
      position: relative;

      .item-price,
      .item-stock {
        font-weight: bold;
        background-color: var(--theme-blue--dark-bg);
        color: white;
        padding: 2px 8px;
        margin-right: 4px;
      }

      &.inactive span.item-price {
        filter: blur(1px);
        background-color: darkred;
        display: inline-block;
        animation: vibrate 0.3s linear infinite both;
      }

      &.inactive {
        color: darkred;
      }

      .item-stock {
        background-color: #777;
      }

      .item-main {
        grid-row: 1;
        grid-column: 1;
      }

      .item-labels {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
      }

      .btn {
        grid-row: 1 / span 2;
        border: none;
      }

      .btn-yellow {
        grid-column: 3;
      }

      &:not(.inactive):last-child {
        margin-bottom: 30px;
        animation: highlight 0.5s ease-out, emphasizeItem 0.5s ease-in-out 5s backwards;
      }

      &.inactive {
        background-color: #f8d7da;
      }

      &.mark {
        background-color: #fcf8e3;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      *:empty:not(i) {
        display: none;
      }

      .item-price {
        margin-right: 4px;
        border-radius: 4px;
        transition: 0.5s;
      }

      &:not(.inactive):last-child .item-price {
        animation: emphasizePrice 0.5s ease-in-out 5s backwards;
      }
    }
  }

  .item-labels {
    font-size: 0.8em;
    color: #666;

    span {
      margin-right: 10px;
    }
  }

  .form-group {
    position: relative;
  }

  .ready-for-scan {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: 0%;
    width: 80px;
    text-align: right;
    color: var(--theme-orange--base-bg);
    padding-top: 35px;
    text-transform: lowercase;
  }

  #barcode:focus:placeholder-shown+.ready-for-scan {
    opacity: 1;
  }
}


/* item detail modal */
.container.width-auto>.row {
  padding: 5px 0px;
  border-bottom: 1px solid #eeeeee
}

.keyboard {
  display: grid;
  background-color: #f5f5f5;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 200px;
  margin: 0px auto;
  border-radius: 2px;

  &>* {
    padding: 10px;
    font-size: 18px;
  }
}

.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;

  // code128 barcode
  .label p:empty:nth-of-type(1)::before {
    content: " ";
    display: block;
    background-image: repeating-linear-gradient(to right, black, black 4px, white 5px, white 10px);
    position: static;
    height: 15px;
    width: 120px;
  }

  .label.barcodeOnly p:empty:nth-of-type(1)::before {
    height: 50px;
  }

  .label .barcode.dm {
    background-image: repeating-linear-gradient(to top,
        black,
        black 4px,
        white 4px,
        white 8px)
  }

  .label.fridge::after {
    content: "";
    height: 20px;
    width: 100%;
    background-image: url('https://one-pro-public-bucket.s3.eu-central-1.amazonaws.com/ONE/css/scissors-icon.png');
    background-size: 15% 100%;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    position: absolute;
    bottom: 4.6mm;
    opacity: 0.7;
  }

  .label {
    border: 1px solid #ff9b79;
  }

  .label-preview:has(.half) {
    position: relative;
    display: inline-flex;
  }

  .label-preview:has(.half)::after {
    content: "";
    height: 100%;
    width: 20px;
    background-image: url(https://one-pro-public-bucket.s3.eu-central-1.amazonaws.com/ONE/css/scissors-icon-v.png);
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: 50% 86%;
    position: absolute;
    left: calc(100% - 10px);
    margin-right: -10px;
    z-index: 1;
    opacity: 0.7;
  }
}

// .modal-backdrop {
//   display: none;
// }

// .modal {
//   background-color: rgba(0, 0, 0, 0.5);
// }

@keyframes emphasizeItem {
  from {
    font-size: 1.2em;
    // border-left: solid var(--theme-blue--dark-bg) 4px;
    // padding-left: 6px;
  }
}

@keyframes emphasizePrice {
  from {
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: black;
  }
}

@keyframes highlight {
  from {
    background-color: #1b6aaa;
    color: white;
    filter: opacity(0.5);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}