@use 'variables' as vars;

body.label-print-interface {
  background-color: #eee;

  // Hides sub-grid rows and other elements
  tr.sub-grid-row,
  td.sub-grid,
  [ng-if="config.subGrid"],
  [ng-if="!config.hideTopPager"],
  .sidebar {
    display: none !important;
    pointer-events: none;
  }

  .input-group {
    display: flex;
  }

  .modal {

    // Adjusts modal header and input styles
    h5.header.blue.header-temp-files-list {
      margin-top: 0;
    }

    .btn,
    select,
    input[type=text],
    input[type=number],
    input[type=date] {
      border-radius: 4px !important;
    }
  }

  .navbar {
    // background-color: var(--theme-blue--dark-bg);
    background: seagreen;

    .navbar-brand {
      padding-left: 1em;
    }

    .navbar-shortcuts {
      margin-right: 10px;
    }

    a.navbar-shortcut {
      color: #eee;

      i {
        font-size: 1.2em;
        margin: 0 2px;
        text-align: center;
      }
    }

    li:has(.navbar-shortcut):hover {
      background: #0000005c;
    }
  }

  .summary {
    background: #fff;
    font-size: 1.75rem;
    border-top: black 2px dashed;
    padding: 10px;
    margin-top: 10px;

    .summary-amount {
      float: right;
      font-weight: 700;
    }

    .summary-label {
      font-weight: 700;
      color: #333;
    }

    .summary-buttons {
      display: flex;
      gap: 10px;
      margin-top: 10px;

      button {
        flex: 1;
      }
    }
  }
}

.item-search-container {
  *:not(.header):not(svg) {
    border-radius: 4px;
  }

  .load-data {
    padding: 10px;
  }

  @media screen and (max-width: 992px) {
    .load-data {
      padding: 10px 0 !important;
    }
  }

  .load-overlay {
    background-color: #eeeeeebf;
  }

  .form-section {
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fcfcfc;
    padding: 0 15px;
  }

  .item-list {
    max-height: calc(100vh - 70px);
    overflow: auto;

    .item {
      // Styles for individual items in the list
      transition: 0.5s;
      animation: highlight 0.5s ease-out;
      background-color: white;
      display: grid;
      grid-template-columns: minmax(0, 1fr) min-content min-content min-content;
      column-gap: 5px;
      font-size: 1.1em;
      border: 1px solid #ddd;
      padding: 8px;
      margin-bottom: 4px;
      cursor: pointer;
      position: relative;

      .item-price,
      .item-stock {
        font-weight: bold;
        background-color: var(--theme-blue--dark-bg);
        color: white;
        padding: 2px 8px;
        margin-right: 4px;
        transition: 0.5s;
      }

      &.inactive span.item-price {
        filter: blur(1px);
        background-color: darkred;
        display: inline-block;
        animation: vibrate 0.3s linear infinite both;
      }

      &.inactive {
        color: darkred;
      }

      .item-stock {
        background-color: #777;
      }

      .item-main {
        grid-row: 1;
        grid-column: 1;
      }

      .item-labels {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
      }

      .btn {
        grid-row: 1 / span 2;
        border: none;
      }

      .btn-yellow {
        grid-column: 3;
      }

      &:not(.inactive):last-child {
        margin-bottom: 30px;
        animation: highlight 0.5s ease-out, emphasizeItem 0.5s ease-in-out 5s backwards;
      }

      &.inactive {
        background-color: #f8d7da;
      }

      &.mark {
        background-color: #fcf8e3;
      }

      &.green {
        background-color: #e4efc9;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      *:empty:not(i) {
        display: none;
      }

      &:not(.inactive):last-child .item-price {
        animation: emphasizePrice 0.5s ease-in-out 5s backwards;
      }
    }
  }

  .item-labels {
    font-size: 0.8em;
    color: #666;

    span {
      margin-right: 10px;
    }
  }

  .form-group {
    position: relative;
  }

  .ready-for-scan {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    right: 0%;
    width: 80px;
    text-align: right;
    color: var(--theme-orange--base-bg);
    padding-top: 35px;
    text-transform: lowercase;
  }

  #barcode:focus:placeholder-shown+.ready-for-scan {
    opacity: 1;
  }

  .recent-items {
    .recent-tab-content {
      background: white;
      padding: 10px;
      border-radius: 0;
    }

    .item-list {
      .item {
        padding: 8px;
        column-gap: 0px;

        .btn {
          grid-row: unset;
        }

        .item-price,
        .btn-xs {
          padding: 0px 6px;
          margin-left: 5px;
        }
      }

      .item-main {
        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;
      }

      .item-price {
        margin-right: 0px;
      }

      .item,
      .item:last-child {
        animation: none;
        margin-bottom: 4px;
        padding: 6px;
      }

      .item:last-child .item-price {
        animation: none;
      }
    }
  }
}

// Item detail modal
.container.width-auto>.row {
  padding: 5px 0px;
  border-bottom: 1px solid #eeeeee
}

.keyboard {
  display: grid;
  background-color: #f5f5f5;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 200px;
  margin: 0px auto;
  border-radius: 2px;

  &>* {
    padding: 10px;
    font-size: 18px;
  }
}

// Label type modal
.modal .list-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;

  // code128 barcode
  .label p:empty:nth-of-type(1)::before {
    content: " ";
    display: block;
    background-image: repeating-linear-gradient(to right, black, black 4px, white 5px, white 10px);
    position: static;
    height: 15px;
    width: 120px;
  }

  .label.barcodeOnly p:empty:nth-of-type(1)::before {
    height: 50px;
  }

  .label .barcode.dm {
    background-image: repeating-linear-gradient(to top,
        black,
        black 4px,
        white 4px,
        white 8px)
  }

  .label.fridge::after {
    content: "";
    height: 20px;
    width: 100%;
    background-image: vars.$scissors-icon;
    background-size: 81% 100%;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    bottom: 0.6mm;
    right: 3em;
    opacity: .7;
    background-blend-mode: color-dodge;
    width: 2em;
    height: 4em;
    transform: rotate(90deg);
  }

  .label {
    border: 1px solid #ff9b79;
  }

  .label-preview:has(.half) {
    position: relative;
    display: inline-flex;
  }

  .label-preview:has(.half)::after {
    content: "";
    height: 100%;
    width: 20px;
    background-image: vars.$scissors-icon;
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: 50% 86%;
    position: absolute;
    left: calc(100% - 10px);
    margin-right: -10px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes emphasizeItem {
  from {
    font-size: 1.2em;
  }
}

@keyframes emphasizePrice {
  from {
    margin-left: -10px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: black;
  }
}

@keyframes highlight {
  from {
    background-color: #1b6aaa;
    color: white;
    filter: opacity(0.5);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}